.carouselImg {
    max-width: 1000px;
    width: 100%;
    height: auto;
    opacity: 0;
    transition-duration: 0.5s;
}

.loaded {
    max-width: 1000px;
    width: 100%;
    height: auto;
    opacity: 1;
    transition-duration: 0.5s;
}

.carouselImg:hover {
    opacity: 0;
    transition-duration: 0.5s;
}

.loaded:hover {
    opacity: 1;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.664);
}

.carousel {
    margin-top: 15%;
    margin-bottom: 15%;
}