.container {
  max-width: 60%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.navbar {
  padding: 0 1rem;
  margin: 1rem 1rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.navbar_links{
  display: flex;
  justify-content: space-around;
  width: 70%;
  color: #242020;
}

.navbar_social{
  display: flex;
  justify-content: space-around;
  width: 10%;
  margin-right: 3rem;
  margin-left: 2rem;
}

.icon_color_filter{
  filter: invert(11%) sepia(11%) saturate(323%) hue-rotate(314deg) brightness(96%) contrast(96%);
}

.navbar_logo{
  width: 10%;
  margin-left: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}